.barleft-main-div {
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #3f2306;
	justify-content: center;
	height: 100vh;
	width: 13%;
	min-width: 250px;
}

#p-hello-visit {
	text-align: center;
	margin-top: 20px;
	color: azure;
}

.barleft-main-div img {
	margin-top: 20px;
	height: 75px;
	background: #fafafa;
	border-radius: 60px;
	border: 5px solid white;
}

.barleft-main-div img:hover {
	background: #ffffff;
	border: 5px solid #ffffff;
}

.menu-items {
	margin-top: 75px;
}

.menu-items p {
	font-size: 20px;
	text-align: center;
	margin-bottom: 15px;
	color: azure;
}

.menu-items p:hover {
	cursor: pointer;
	color: black;
}

.menu-items hr {
	border-bottom: 1px hidden #fafafa6e;
	margin-bottom: 25px;
}
