.barleft-main-div {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(54, 29, 1);
	justify-content: center;
	height: 100vh;
	width: 12vw;
	max-width: 200px;
	box-shadow: 20px 0px 38px 10px rgba(63, 35, 6, 0.5),
		10px 0px 12px 8px rgba(63, 35, 6, 0.33);
	animation: left-run 500ms linear;
	overflow-y: auto;
	overflow-x: auto;
}

#p-hello-visit {
	text-align: center;
	margin-top: 20px;
	font-size: 2.5vh + 1.5vw;
	color: azure;
}

.barleft-main-div img {
	margin-top: 20px;
	height: 9vh;
	background: #fafafa;
	border-radius: 50px;
	animation: cai 280ms linear;
	animation-fill-mode: backwards;
	animation-delay: 320ms;
	width: 80%;
	background-image: url("../../../assets//logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}

.barleft-one-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.barleft-one-div button {
	margin-top: 10px;
	padding: 0px 5px;
	background-color: rgba(0, 0, 0, 0);
	color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
}

.barleft-one-div button:hover {
	cursor: pointer;
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
}

.barleft-main-div img:hover {
	cursor: pointer;
}

.menu-items {
	flex-direction: column;
	width: 100%;
	margin-top: 85px;
	padding-left: 7px;
	padding-right: 7px;
	align-items: flex-start;
}

.menu-items hr {
	border-bottom: 1px hidden #fafafa6e;
	margin-bottom: 25px;
}

.div-horizontal {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	margin-bottom: 25px;
	margin-top: 12px;
	border-radius: 5px;
	padding: 2px;
	user-select: none;
	overflow: hidden;
	margin-left: 5px;
}

.div-horizontal p {
	font-size: 2.2vh;
	text-align: center;
	color: azure;
	/* margin-left: 15px; */
	margin-right: 15px;
}

.div-horizontal:hover {
	cursor: pointer;
	background-color: #fafafa;
}

.div-horizontal:hover > p {
	cursor: pointer;
	color: black;
	background-color: #fafafa;
}

.div-horizontal-subMenu {
	display: flex;
	align-items: center;
	flex-direction: row;
	margin-bottom: 25px;
	border-radius: 5px;
	padding: 2px;
	margin-left: 2vw;
}

.div-horizontal-subMenu:hover {
	cursor: pointer;
	background-color: #fafafa;
}

.div-horizontal-subMenu:hover > p {
	cursor: pointer;
	color: black;
	background-color: #fafafa;
}

.div-horizontal-subMenu p {
	font-size: 1.6vh;
	text-align: center;
	color: azure;
	margin-left: 0.5vw;
}

.div-vertical {
	display: flex;
	flex-direction: column;
}

.div-news-menu {
	flex-direction: column;
	margin-bottom: 20px;
	animation: caiSubMenus 150ms ease-out;
	animation-fill-mode: backwards;
	user-select: none;
}

@keyframes caiSubMenus {
	0% {
		opacity: 0;
		transform: translateY(-30%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes cai {
	0% {
		transform: translateY(-160%);
	}
	35% {
		transform: translateY(-40%);
	}
	60% {
		transform: translateY(20%);
	}
	75% {
		transform: translateY(10%);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes left-run {
	0% {
		transform: translateX(-100%);
	}
	35% {
		transform: translateX(-50%);
	}
	75% {
		transform: translateX(-5%);
	}
	100% {
		transform: translateX(0);
	}
}

@media (max-width: 800px) {
	.barleft-main-div {
		width: 25vw;
	}
}
