* {
	margin: 0;
	outline: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html {
	background: #fafafa;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	height: 100%;
	width: 100%;
}

/* erro no login */
.validade-error {
	animation: nono 250ms linear, fade paused;
	animation-iteration-count: 2;
}

@keyframes nono {
	0% {
		transform: translateX(0);
	}
	35% {
		transform: translateX(-15%);
	}
	70% {
		transform: translateX(15%);
	}
	100% {
		transform: translateX(0);
	}
}

.squaresMain li {
	z-index: -1;
	width: 40px;
	height: 40px;
	background-color: none;
	display: block;
	position: absolute;
	bottom: 40px;
	animation: up 2s infinite alternate;

	/* icones do muhna  */
	background-image: url("../../assets/logo.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 50% 50%;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(46, 25, 1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(77, 42, 2);
}

.validade-error-user {
	animation: nonoUser 250ms linear;
	animation-iteration-count: 2;
}

@keyframes nonoUser {
	0% {
		transform: translateX(0);
	}
	35% {
		transform: translateX(-5%);
	}
	70% {
		transform: translateX(5%);
	}
	100% {
		transform: translateX(0);
	}
}
