.gallery-main-div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 8px;
	align-items: center;
	background-color: rgb(51, 30, 4);
	height: 90vh;
	width: 75vw;
	border-radius: 20px;
	margin-top: 20px;
	padding-bottom: 40px;
}

#gallery-main-button-close {
	margin-top: 5px;
	padding: 7px;
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid #fafafa;
	border-radius: 10px;
	color: #fafafa;
	font-size: 20px;
	font-weight: bold;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#gallery-main-button-close:hover {
	border-color: #fff;
	background-color: #fff;
	color: #000;
	cursor: pointer;
}
