.button-div-modal {
	margin-bottom: 7px;
}
.button-div-modal button {
	border: 0px;
	border-radius: 5px;
	padding: 10px;
	background-color: rgb(95, 60, 16);
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	margin-right: 20px;
}
.button-div-modal button:hover {
	cursor: pointer;
	background-color: rgb(51, 30, 4);
}

.Modal-Div {
	display: flex;
	justify-content: center;
	align-items: center;
	animation: caiModal 550ms ease-out;
	animation-fill-mode: backwards;
}

@keyframes caiModal {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
