.validade-error {
	animation: nono 250ms linear;
	animation-iteration-count: 2;
}

@keyframes nono {
	0% {
		transform: translateX(0);
	}
	35% {
		transform: translateX(-5%);
	}
	70% {
		transform: translateX(5%);
	}
	100% {
		transform: translateX(0);
	}
}
