.main-News-loading {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 80%;
	height: 100vh;
}

.main-News {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	padding-top: 80px;
	position: sticky;
	overflow: hidden;
	animation: fade 250ms linear;
	min-height: 300px;
}

.sub-div-news,
.proxPage {
	display: flex;
	flex-direction: column;
	border: 2px solid rgba(3, 3, 3, 0.733);
	border-radius: 10px;
	width: 60%;
	height: 90%;
	padding: 20px;
	overflow-y: auto;
	position: sticky;
	background-color: #ffffff;
}

.sub-div-news label {
	color: black;
	font-size: 18px;
	font-weight: bold;
}

.sub-div-news input {
	margin-top: 5px;
	margin-bottom: 20px;
	width: 100%;
	height: 35px;
	border-radius: 4px;
	padding: 12px 20px;
	box-sizing: border-box;
	color: #000000c2;
	font-size: 16px;
	display: inline-block;
	border: 1px solid rgb(44, 25, 2);
	background-color: none;
}

.sub-div-news input:focus {
	background-color: none;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill {
	-webkit-text-fill-color: #000000de !important;
}

/* squares */
html,
body {
	height: 100vh;
}

body {
	overflow: hidden;
}

.button-div {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding-top: 60px;
	height: 30%;
}
#pacmanLoad {
	display: flex;
	width: 100%;
	min-height: 80px;
	min-width: 120px;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	animation: fade 200ms linear;
}
.editor-text {
	border: 2px solid #afafaf;
	height: 50%;
	overflow-y: scroll;
	overflow-x: hidden;
	min-height: 100px;
}

.button-div button {
	border: 0px;
	border-radius: 5px;
	padding: 10px;
	background-color: #06b61d;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	margin-top: 20px;
}

.button-div button:hover {
	background-color: rgb(9, 83, 19);
	cursor: pointer;
}

.class-rightToLeft {
	animation: rightToLeft 300ms linear;
	animation-delay: 100;
	animation-fill-mode: backwards;
}

.class-leftToRight {
	animation: leftToRight 250ms linear;
	animation-delay: 100;
	animation-fill-mode: backwards;
}
.proxPage {
	justify-content: center;
	overflow-y: auto;
	align-items: center;
	animation: leftToRight 250ms linear;
	animation-delay: 100;
	animation-fill-mode: backwards;
}

.proxPage h1 {
	text-align: center;
}

.proxPage button {
	border: 0px;
	border-radius: 5px;
	padding: 10px;
	background-color: #06b61d;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}

.proxPage button:hover {
	background-color: rgb(9, 83, 19);
	cursor: pointer;
}

/* popup */
#div-input-popup-main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
}

#div-input-popup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

#div-input-popup label {
	text-align: left;
	width: 100%;
	color: rgb(75, 73, 73);
	margin-bottom: 3px;
}
#div-input-popup input {
	color: rgb(54, 52, 52);
	border-radius: 4px;
	outline: none;
	padding: 5px;
	margin-bottom: 3px;
	border: 1px solid rgb(51, 30, 4);
}

.Modal-Div {
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes rightToLeft {
	from {
		opacity: 1;
		transform: translateX(0);
	}

	to {
		opacity: 0;
		transform: translateX(-700%);
	}
}

@keyframes leftToRight {
	from {
		opacity: 0;
		transform: translateX(500%);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes up {
	from {
		opacity: 0;
		transform: translateY(0);
	}
	50% {
		opacity: 1;
	}
	to {
		transform: translateY(-900px) rotate(960deg);
	}
}

@keyframes fade {
	from {
		opacity: 0;
		transform: scale(0.8);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
